@import './styles/mixin';
@import './styles/variable';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend', sans-serif;
    color: $black;
    background: $white;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

button,
input {
    display: block;
    font-family: 'Lexend', sans-serif;
}

hr {
    margin: 10px 0;
    height: 2px;
    border: none;
    background: rgba($black, 0.3);
}

h1 {
    outline: none;
}
